{%extends 'base.html'%}
{%load static%}
{% load crispy_forms_tags %}
{%block content%}

   <h1>Welcome to New POST Page</h1>
<div class="container mx-auto">
   <form method="post" enctype="multipart/form-data" autocomplete="off">
                      {%csrf_token%}
                      {%if snippet_form and sub_heading_form%}
                        <div class="row">
                          <div class="col-md-12">{{sub_heading_form.heading|as_crispy_field}}</div>
                            <div class="col-md-12">{{sub_heading_form.name|as_crispy_field}}</div>
                          <div class="col-md-12">{{sub_heading_form.description|as_crispy_field}}</div>
                          <div class="col-md-12">{{snippet_form.code_snippet|as_crispy_field}}</div>
                          <div class="col-md-12">{{snippet_form.attachments|as_crispy_field}}</div>

                        </div>
                      {%endif%}
                        <ul class="list-inline text-right mb-0">
                            <li class="list-inline-item">
                                <button type="reset" class="btn btn-light">Reset</button>
                            </li>
                            <li class="list-inline-item">
                                <button type="submit" class="btn btn-info">Save</button>
                            </li>
                        </ul>
                  </form>
    </div>
{%endblock %}

